@using DAL.Models;
@using DAL.VM;
@model PaginatedVM<Provider>

@{
    ViewData["Title"] = "Details";
    Layout = "_NewLayout";
}


<form method="post" asp-action="sorted" asp-controller="Category" class="form">
    <input name="CategoryID" id="CategoryID" hidden value="@ViewBag.CategoryID " />

    <img src="@Url.Content("~/assets/ServiceSelection/" + @ViewBag.CategoryName + ".png")" alt="" class="service-img" />
  

    <div class="container">
        <div class="title">
            <h3>قم باختيار الشخص المناسب و احجز معاداً !</h3>
        </div>

        <div class="sorting">
            <div class="dropdown">
                <select name="cityid" id="cityid">
                    <option value="" selected disabled hidden>المدينة</option>
                    @foreach (var item in ViewBag.City)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

            </div>

            <div class="dropdown">
                <select name="rating" id="rating">
                    <option value="" selected disabled hidden>التقييم</option>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>

            <div class="dropdown">
                <select>
                    <option value="" selected disabled hidden>نوع الخدمة</option>
                    @foreach (var item in Model.Services)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>
            <input type="submit" value="بحث" class="submit">

        <div class="cards">

            @* Static data between 2 comments(Reminder to remove it )*@
            <a href="#">
                <div class="card">
                    <div class="card-top-side">
                        <img src="~/assets/ServiceSelection/ProfilePic.png" class="card-image" />

                        <div class="card-info">
                            <h6>يوسف عبدالرحيم</h6>
                            <p><i class="fa-solid fa-location-dot"></i> الاسماعيلية</p>
                            <p>
                                <i class="fa-solid fa-hand-holding-dollar"></i> 300 : 1500
                                جنيه
                            </p>
                        </div>

                        <div class="card-rating">
                            <p dir="ltr">4.6 <i class="fa-solid fa-star"></i></p>
                        </div>
                    </div>

                    <div class="description">
                        <p>
                            وصف وصف   وصف وصف وصف وصف وصف وصف  وصف وصف  وصف وصف وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف وصف وصف
                        </p>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="card">
                    <div class="card-top-side">
                        <img src="~/assets/ServiceSelection/ProfilePic.png" class="card-image" />

                        <div class="card-info">
                            <h6>يوسف عبدالرحيم</h6>
                            <p><i class="fa-solid fa-location-dot"></i> الاسماعيلية</p>
                            <p>
                                <i class="fa-solid fa-hand-holding-dollar"></i> 300 : 1500
                                جنيه
                            </p>
                        </div>

                        <div class="card-rating">
                            <p dir="ltr">4.3 <i class="fa-solid fa-star"></i></p>
                        </div>
                    </div>

                    <div class="description">
                        <p>
                            وصف وصف   وصف وصف وصف وصف وصف وصف  وصف وصف  وصف وصف وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف وصف وصف

                        </p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <div class="card-top-side">
                        <img src="~/assets/ServiceSelection/ProfilePic.png" class="card-image" />

                        <div class="card-info">
                            <h6>يوسف عبدالرحيم</h6>
                            <p><i class="fa-solid fa-location-dot"></i> الاسماعيلية</p>
                            <p>
                                <i class="fa-solid fa-hand-holding-dollar"></i> 300 : 1500
                                جنيه
                            </p>
                        </div>

                        <div class="card-rating">
                            <p dir="ltr">4.3 <i class="fa-solid fa-star"></i></p>
                        </div>
                    </div>

                    <div class="description">
                        <p>
                            وصف وصف   وصف وصف وصف وصف وصف وصف  وصف وصف  وصف وصف وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف  وصف وصف وصف وصف

                        </p>
                    </div>
                </div>
            </a>
            @* Static data (Reminder to remove it )*@

            @foreach (var service in Model.Services)
            {
                foreach (var item in Model.item)
                {
                    if (service.Id == item.ServiceId)
                    {
                        <a asp-controller="Provider" asp-action="Details" asp-route-id="@item.Id">
                           <div class="card">
                                <div class="card-top-side">
                                <img src="" class="card-image" />    @*صورة اليوزر *@

                                      <div class="card-info">
                                        <h6>@item.ApplicationUser.UserName</h6>
                                        <p><i class="fa-solid fa-location-dot"></i>@item.ApplicationUser.City.Name</p>
                                        <p>
                                            <i class="fa-solid fa-hand-holding-dollar"></i> @item.MinPrice : @item.MaxPrice
                                            جنيه
                                        </p>
                                </div>

                           <div class="card-rating">
                              <p dir="ltr">@item.Rating <i class="fa-solid fa-star"></i></p>
                           </div>
                    </div>

                    <div class="description">
                        <p>@item.Bio</p>
                    </div>
                </div>
            </a>
        }
    }
}

        </div>
      </div>
</form>

@section Service_selection {
    <link rel="stylesheet" href="~/css/ServiceSelection.css" />
}

@* <h1>Details</h1>
<div>
    <form method="post" asp-action="sorted" asp-controller="Category">
        <input name="CategoryID" id="CategoryID" hidden value="@ViewBag.CategoryID " />
        <label>Sort by Service</label>
        <select name="serviceid" id="serviceid">
            <option value="0" selected>select service</option>
            @foreach (var item in Model.Services)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <br />
        <label>Sort by City</label>
        <select name="cityid" id="cityid">
            <option value="0">Select City</option>
            @foreach (var item in ViewBag.City)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <br />
        <lable> Rating </lable>
        <select name="rating" id="rating">
            <i class="fa-solid fa-star"></i>
            <option value="0">Select Reting</option>
            @for (int i = 1; i <= 5; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <br />
        <input type="submit" value="sort">
    </form>
</div>
<div>
    <h2>@ViewBag.CategoryName</h2>

    <h4>Services in this category:</h4>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Service Name</th>
            <th>Provider Name</th>
            <th>Bio</th>
            <th>Rating</th>
            <th></th>
        </tr>
        @foreach (var service in Model.Services)
        {
            foreach (var item in Model.item)
            {
                if (service.Id == item.ServiceId)
                {
                    <tr>
                        <th>@service.Name</th>
                        <th>@item.ApplicationUser.UserName</th>
                        <th>@item.Bio</th>
                        <th>@item.Rating</th>
                        <th>
                        <a asp-controller="Provider" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </th>
                    </tr>

                }
            }

        }
    </table>
</div>
*@

@*             (PAging part pt1)
<div>
    <form asp-action="Details" asp-controller="Category">
        @if (Model.Haspreviouspage)
        {
            <button type="submit" name="pagenumber" value="@(Model.pagenum-1)" class="btn btn-primary">Previous</button>
        }
        <span>page @Model.pagenum of @Model.totalpage</span>
        @if (Model.Hasnextpage)
        {
            <button type="submit" name="pagenumber" value="@(Model.pagenum+1)" class="btn btn-primary">Next</button>
        }

    </form>
</div>

<div>
    <a asp-action="GetAll">Back to List</a>
</div>
*@