@model ProviderWithAllDataViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProviderId" class="text-decoration-none"> اعدادات الحساب</a>
    <hr />
    <dl class="row">
        <dd>

        <img src="@Model.ProfilePicture_ID" width="75px" class="img-fluid rounded-circle" alt="Provider Image"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture_ID)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.ProfilePicture_ID" target="_blank">Click Here</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Portfolios)
        </dt>
        <dd>
          <a asp-action="EditPortfolios" asp-route-id="@Model.ProviderId">زود شغلك</a>

            <div class="container">
                @if (Model.Portfolios == null || !Model.Portfolios.Any())
                {
                    <p>مفيش شغل جديد</p>
                }
                else
                {
                    @foreach (var item in Model.Portfolios)
                    {
                        <div class="portfolio-item">
                            <h5>@item.Name</h5>
                            <p>@item.Bio</p>
                            <div class="portfolio-images">
                                @if (item.Portfolio_Image == null || !item.Portfolio_Image.Any())
                                {
                                    <p>No images available for this ِAlbum.</p>
                                }
                                else
                                {
                                    <div class="row">
                                        @foreach (var image in item.Portfolio_Image)
                                        {
                                            <div class="col-sm-4">
                                                <img src="@image.Img_Url" alt="Portfolio Image" class="img-fluid" />
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <hr />
                    }
                }
            </div>
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Save)
        </dt>
  
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var day in Model.Days)
                {
                    <li>
                        <strong>Day:</strong> @day.Day <br />
                        <strong>Start Time:</strong> @day.Start_Time.ToString("hh:mm tt") <br />
                        <strong>End Time:</strong> @day.End_Time.ToString("hh:mm tt")
                    </li>
                }
            </ul>
        </dd>
        <!-- Portfolio Section -->

        <!-- Reviews Section -->
        <div class="container">
            <h4>Reviews</h4>
            <div id="reviewsSection" class="border p-3" style="height: 200px; overflow-y: auto;">
                @foreach (var review in Model.Reviews)
                {
                    <div class="review mb-2">
                        <p><strong>Customer:</strong> @review.Customer?.ApplicationUser?.UserName</p>
                        <p><strong>Comment:</strong> @review.Comment</p>
                        <p><strong>Rating:</strong> @review.Rating</p>
                    </div>
                    <hr />
                }
            </div>
        </div>
            <dt>
                <a asp-controller="RequestHistory" asp-action="GetRequests" asp-route-id="@Model.ProviderId" class="text-decoration-none">خانت الخدمات  </a>
            </dt>     
    </dl>
</div>

<div>
    <a asp-controller="Category" asp-action="GetAll">Back to List</a>
</div>


<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">Notification</h5>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>




@section ModalValid {
    <!-- Include Bootstrap and jQuery (necessary for the modal) -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}