@model RequestServiceViewModel

@{
    ViewData["Title"] = "اطلب خدمتك";
    Layout = "_NewLayout";
}

<div class="frame-main" id="frame-main">
    <form asp-action="RequestService" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="ProviderId" value="@ViewBag.ProviderId" />
        <input type="hidden" asp-for="CustomerId" value="@ViewBag.CustomerId" />
        <input type="hidden" asp-for="ServiceId" value="@ViewBag.ServiceId" />
        <input type="hidden" asp-for="RequestDate" value="@DateTime.Now" />
        <input type="hidden" asp-for="Status" value="3" />
        <div class="frame-container" id="frame-container">
            <div class="frame">
                <div class="contact">
                    <p class="head">وسيلة التواصل التي تفضلها*</p>
                    <div class="frame-dropdown">
                        <select asp-for="PreferredCommunication">
                            <option selected disabled hidden></option>
                            <option value="0">واتس آب</option>
                            <option value="1">مكالمة</option>
                        </select>
                    </div>
                </div>
                <div class="add-comment">
                    <p class="head">اضف تعليقاً</p>
                    <textarea class="textarea" asp-for="Comment"></textarea>
                </div>
                <button type="submit" class="send-request">ارسل الطلب</button>
            </div>
        </div>
    </form>
</div>

@section RequestService{
    <link href="~/css/RequestService.css" rel="stylesheet" />
}

@*
<form asp-action="RequestService" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="ProviderId" value="@ViewBag.ProviderId" />
    <input type="hidden" asp-for="CustomerId" value="@ViewBag.CustomerId" />
    <input type="hidden" asp-for="ServiceId" value="@ViewBag.ServiceId" />
    <input type="hidden" asp-for="RequestDate" value="@DateTime.Now" />
    <input type="hidden" asp-for="Status" value="3" /> <!-- On Review -->

    <div>
        <label for="PreferredCommunication">وسيلة التواصل المقترحه :</label>
        <select asp-for="PreferredCommunication" class="form-control">
            <option value="0">WhatsApp</option>
            <option value="1">Call</option>
        </select>
    </div>

    <div>
        <label for="Comment">ملاحظه :</label>
        <textarea asp-for="Comment" class="form-control"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">اطلب</button>
    </div>
</form>

*@
